.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
}

.dialogsItem {
   padding: 10px;
   color:blue;
}

.dialogsItem .active{
   color:blueviolet;
}

.active {
   color:blueviolet;
}

.item {}

.messagesItem {
   padding: 10px;
}

.messageAva {
   width: 15%;
   height: 10%;
   margin: 0 10px;
}